#drag, #drop {  transition: border 300ms ease;  }

#drag div, #drop div {  transition: color 300ms ease; }

/* --- INFOBOX with feeds of other player activities --- */
#nav-panel .infobox {
    margin-top: 5px;
    padding: 5px;
    height: 100px;
}

#nav-panel .infobox {
    text-align: center;
}
#nav-panel .infobox .message {
    width: 200px;
    word-wrap: break-word;
}
