#drag, #drop {  transition: border 300ms ease;  }

#drag div, #drop div {  transition: color 300ms ease; }

/* --- INFOBOX with feeds of other player activities --- */
.col-md-4 .infobox {
    margin-top: 100px;
    border: 1px solid blue;
    width: 500px;
    height: 200px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.col-md-4 .infobox .message, .col-md-4 .infobox {
    text-align: center;
}
